<!-- 1 -->

<ion-content padding>
    <ion-grid>
      <ion-row>
        <ion-col>        
                    <div text-center>
                        <img width="180px" src="/assets/img/dbt2.png">
                    </div>          
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
                      <div text-center>
                          <h2>Find out your risk, do the test!</h2>   
                      </div>  
          </ion-col>          
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button color="naranja"expand="block" (click)="starttest()">Start Test</ion-button>            
            </ion-col>          
          </ion-row>
    </ion-grid>    
  </ion-content>