<ion-content>
    <ion-grid>
      <ion-row>
        <ion-col>        
                    <div text-left>
                        <h3>My Account</h3> 
                        <p>Name: Juanita</p>
                        <p>Age: 56 years</p>
                        <p>Weight: 60 Kg</p>
                    </div>          
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
              <div text-left>
                  <h3>Test Registry</h3> 
                  
                          
                           
                                 
                     
              </div>  
          </ion-col>          
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button color="naranja"expand="block" (click)="starttest()">Start Test</ion-button>            
            </ion-col>          
          </ion-row>
    </ion-grid>    
  </ion-content>


