<ion-header>
  <ion-toolbar color="naranja">
    <ion-title text-center>
      Diab e-test
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
<ion-grid> 
    <ion-row>   
        <ion-col>
            <div text-center>
                <img width="180px" src="/assets/img/grandeMadrid.png">
            </div> 
        </ion-col>
          </ion-row>  
  <ion-row>   
<ion-col>
    <div> 
        <h6>Diab e-test Es una iniciativa que busca informar y concienciar a los ciudadanos sobre el riesgo de padecer diabetes tipo 2. En esta plataforma también se podrá encontrar información y trucos para seguir un estilo de vida saludable, y así evitar desarrollar esta enfermedad.</h6>
    </div>
</ion-col>
  </ion-row>  
      <ion-row>
        <ion-col>        
                    <div text-left>
                        <img width="180px" src="/assets/img/logoComunidad.png">
                    </div>          
        </ion-col>
     
          <ion-col>
                      <div text-right>
                          <img width="180px" src="/assets/img/SaludMadrid.png">   
                      </div>  
          </ion-col>          
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button color="naranja" expand="block" (click)="goTest()">OK</ion-button>            
            </ion-col>          
          </ion-row>
    </ion-grid> 

</ion-content>
