<ion-header>
  <ion-toolbar color="primary">
    <ion-title text-center>
      Diab e-test
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
<ion-grid> 
    <ion-row>   
        <ion-col>
            <div text-center>
                <img width="180px" src="/assets/img/grandeMadrid.png">
            </div> 
        </ion-col>
          </ion-row>  
  <ion-row>   
<ion-col>
    <div> 
        <h6>Diab e-test is an initiative that seeks to make people aware of the risk they have of developing type 2 diabetes. Here you will also find information and tips to lead a healthy life and avoid the development of this disease.</h6>
    </div>
</ion-col>
  </ion-row>  
      <ion-row>
        <ion-col>        
                    <div text-left>
                        <img width="180px" src="/assets/img/logoComunidad.png">
                    </div>          
        </ion-col>
     
          <ion-col>
                      <div text-right>
                          <img width="180px" src="/assets/img/SaludMadrid.png">   
                      </div>  
          </ion-col>          
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button color="naranja"expand="block" (click)="goTest()">OK</ion-button>            
            </ion-col>          
          </ion-row>
    </ion-grid> 

</ion-content>
