<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle Ejercicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <img size="small" src="https://elcorreodelsol.com/sites/default/files/styles/large/public/ejercicio-fisico-correr.jpg?itok=yuZAqqNr">
  <h2>PLAN DE ENTRENAMIENTO PARA EMPEZAR A CORRER DESDE CERO</h2>
  <p>
      En las siguientes líneas te facilitaremos un plan de entrenamiento en el que, durante 8 semanas, partirás de cero para alcanzar un objetivo muy concreto: ser capaz de correr durante 30 minutos (o 5 km) de forma continua.
  </p>
  <h6>Objetivo del Plan</h6><p>Ser capaz de correr 30 minutos o 5 km.</p>
  <h6>Duración</h6><p>8 semanas.</p>
  <h6>Dedicación</h6><p>3 días a la semana, 35 minutos al día.</p>
  <h6>A quien va dirigido</h6><p>A cualquiera que quiera empezar a correr sin haberlo hecho antes.</p>
 
  <ion-button expand="block">Añadir al Calendario</ion-button>
  
</ion-content>
