<!-- 1 -->
<div *ngIf="questionCounter === 1; then question1"></div>
<ng-template #question1>
  <ion-content>
    <ion-grid>
      <ion-row align-item-center>
        <ion-col>
          <div text-center>
            <h2>Indique su género</h2>
          </div>
        </ion-col>
      </ion-row>

      <ion-row align-item-center>
        <ion-col text-center>
          <ion-button (click)="female()" [ngStyle]="{'color':fem? 'orange' : 'white' }">Femenino</ion-button>
        </ion-col>
      </ion-row>
      <ion-row align-item-center>
        <ion-col text-center>
          <ion-button (click)="male()" [ngStyle]="{'color':mal? 'orange' : 'white' }">Masculino</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-content>


  <!-- <div text-right *ngIf= "(fem === true)||(mal === true) "> -->
  <ion-toolbar align-item-center>
    <ion-button (click)="nextQuestion()" color="naranja" expand="block" [disabled]="(fem !== true) && (mal !== true)">
      Siguiente</ion-button>
    <!-- <ion-icon  size="large" name="arrow-dropright-circle" slot="end" (click)="nextQuestion()"></ion-icon> -->
  </ion-toolbar>

  <!-- </div> -->

</ng-template>


<!-- 2 -->
<div *ngIf="questionCounter === 2; then question2"></div>
<ng-template #question2>
  <ion-content>
    <ion-grid>
      <ion-row align-item-center>
        <ion-col>
          <div text-center>
            <h2>Indique su edad</h2>
          </div>
        </ion-col>
      </ion-row>
      <ion-row align-item-center>
        <ion-col text-center>

          <ion-button (click)="age1()" [ngStyle]="{'color':value_extra === 2? 'orange' : 'white' }"> Menos de 45 años </ion-button>

        </ion-col>
      </ion-row>
      <ion-row align-item-center>
        <ion-col text-center>
          <ion-button (click)="age2()" [ngStyle]="{'color':value === 2? 'orange' : 'white' }">
            Entre 45-54 años
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row align-item-center>
        <ion-col text-center>
          <ion-button (click)="age3()" [ngStyle]="{'color':value === 3? 'orange' : 'white' }">
            Entre 55 - 64 años
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row align-item-center>
        <ion-col text-center>
          <ion-button (click)="age4()" [ngStyle]="{'color':value === 4? 'orange' : 'white' }">
            Más de 64 años
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>

  <!-- <div text-right *ngIf="(value_extra === 2)||(value >= 2)"> -->
      <ion-toolbar align-item-center>
          <ion-button (click)="nextQuestion()" color="naranja" expand="block" [disabled]="(value_extra !== 2) && (value < 2)">
            Siguiente</ion-button>
          <!-- <ion-icon  size="large" name="arrow-dropright-circle" slot="end" (click)="nextQuestion()"></ion-icon> -->
        </ion-toolbar>
  <!-- </div> -->
</ng-template>

<!-- 3 -->
<div *ngIf="questionCounter === 3; then question3"></div>
<ng-template #question3>
  <ion-content>
    <ion-grid>

      <ion-row align-item-center>
        <ion-col>
          <div text-center>
            <h2>Índice de Masa Corporal (Kg/m<sup>2</sup>)</h2>
            <p>Para que calculemos su IMC facilítenos su peso y altura</p>
          </div>
        </ion-col>
      </ion-row>
      <ion-row align-item-center>
        <ion-col text-center>
          <ion-label position="floating">Introduzca su altura (m)</ion-label>
          <ion-input [(ngModel)]="altura"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row align-item-center>
        <ion-col text-center>
          <ion-label position="floating">Introduzca su peso (Kg)</ion-label>
          <ion-input [(ngModel)]="peso"></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>

  <!-- <div text-right *ngIf="(value_extra === 2)||(value >= 1)"> -->
      <ion-toolbar align-item-center>
          <ion-button (click)="nextQuestion()" color="naranja" expand="block" [disabled]="(peso === 0) || (altura === 0)">
            Siguiente</ion-button>
          <!-- <ion-icon  size="large" name="arrow-dropright-circle" slot="end" (click)="nextQuestion()"></ion-icon> -->
        </ion-toolbar>

  <!-- </div> -->
</ng-template>

<div *ngIf="(questionCounter === 4)&&(fem===true); then question4fem"></div>
<ng-template #question4fem>
  <!-- 4-fem -->
  <ion-content>
    <ion-grid>
      <ion-row align-item-center>
        <ion-col>
          <div text-center>
            <h2>Perímetro de la cintura</h2>
            <p>Normalmente medido a nivel del ombligo</p>
          </div>
        </ion-col>
      </ion-row>
      <ion-row align-item-center>
        <ion-col text-center>
          <ion-button (click)="waist1()" [ngStyle]="{'color':value_extra === 2? 'orange' : 'white' }"> Menos de 80 cm </ion-button>
        </ion-col>
      </ion-row>
      <ion-row align-item-center>
        <ion-col text-center>
          <ion-button (click)="waist2()" [ngStyle]="{'color':value === 3? 'orange' : 'white' }">
            Entre 80 - 88 cm
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row align-item-center>
        <ion-col text-center>
          <ion-button (click)="waist3()" [ngStyle]="{'color':value === 4? 'orange' : 'white' }">
            Más de 88 cm
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>

  <!-- <div text-right *ngIf="(value_extra === 2)||(value >= 3)"> -->
      <ion-toolbar align-item-center>
          <ion-button (click)="nextQuestion()" color="naranja" expand="block" [disabled]="(value_extra !== 2) && (value < 3)">
            Siguiente</ion-button>
          <!-- <ion-icon  size="large" name="arrow-dropright-circle" slot="end" (click)="nextQuestion()"></ion-icon> -->
        </ion-toolbar>
  <!-- </div> -->
</ng-template>

<div *ngIf="(questionCounter === 4)&&(mal===true); then question4mal"></div>
<ng-template #question4mal>
  <!-- 4-male -->
  <ion-content>
    <ion-grid>
      <ion-row align-item-center>
        <ion-col>
          <div text-center>
            <h2>Perímetro de la cintura</h2>
            <p>Normalmente medido a nivel del ombligo</p>
          </div>
        </ion-col>
      </ion-row>
      <ion-row align-item-center>
        <ion-col text-center>
          <ion-button (click)="waist1()" [ngStyle]="{'color':value_extra === 2? 'orange' : 'white' }"> Menos de 94 cm </ion-button>
        </ion-col>
      </ion-row>
      <ion-row align-item-center>
        <ion-col text-center>
          <ion-button (click)="waist2()" [ngStyle]="{'color':value === 3? 'orange' : 'white' }">
            Entre 94 - 102 cm
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row align-item-center>
        <ion-col text-center>
          <ion-button (click)="waist3()" [ngStyle]="{'color':value === 4? 'orange' : 'white' }">
            Más de 102 cm
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>

  <!-- <div text-right *ngIf="(value_extra === 2)||(value >= 3)"> -->
      <ion-toolbar align-item-center>
          <ion-button (click)="nextQuestion()" color="naranja" expand="block" [disabled]="(value_extra !== 2) && (value < 3)">
            Siguiente</ion-button>
          <!-- <ion-icon  size="large" name="arrow-dropright-circle" slot="end" (click)="nextQuestion()"></ion-icon> -->
        </ion-toolbar>
  <!-- </div> -->
</ng-template>


<!-- 5 -->
<div *ngIf="questionCounter === 5; then question5"></div>
<ng-template #question5>
  <ion-content>
    <ion-grid>
      <ion-row align-item-center>
        <ion-col>
          <div text-center>
            <h2>¿Toma medicación para la hipertensión regularmente?</h2>
          </div>
        </ion-col>
      </ion-row>
      <ion-row align-item-center>
        <ion-col text-center>
          <ion-button (click)="bloodpressure()" [ngStyle]="{'color':value === 2? 'orange' : 'white' }">Sí</ion-button>
        </ion-col>
      </ion-row>
      <ion-row align-item-center>
        <ion-col text-center>
          <ion-button (click)="bloodpressure_extra()" [ngStyle]="{'color':value_extra === 2? 'orange' : 'white' }">
            No
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>

  <!-- <div text-right *ngIf="(value_extra === 2)||(value === 2)"> -->
      <ion-toolbar align-item-center>
          <ion-button (click)="nextQuestion()" color="naranja" expand="block" [disabled]="(value_extra !== 2) && (value !== 2)">
            Siguiente</ion-button>
          <!-- <ion-icon  size="large" name="arrow-dropright-circle" slot="end" (click)="nextQuestion()"></ion-icon> -->
        </ion-toolbar>
  <!-- </div> -->
</ng-template>


<!-- 6 -->
<div *ngIf="questionCounter === 6; then question6"></div>
<ng-template #question6>
  <ion-content>
    <ion-grid>
      <ion-row align-item-center>
        <ion-col>
          <div text-center>
            <h2>¿Le han encontrado alguna vez valores de glucosa altos?</h2>
            <p>Por ejemplo, en un control médico, durante una enfermedad, durante el embarazo</p>
          </div>
        </ion-col>
      </ion-row>
      <ion-row align-item-center>
        <ion-col text-center>
          <ion-button (click)="bloodglucose()" [ngStyle]="{'color':value === 5? 'orange' : 'white' }">Sí</ion-button>
        </ion-col>
      </ion-row>
      <ion-row align-item-center>
        <ion-col text-center>
          <ion-button (click)="bloodglucose_extra()" [ngStyle]="{'color':value_extra === 2? 'orange' : 'white' }">
            No
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>

  <!-- <div text-right *ngIf="(value_extra === 2)||(value === 5)"> -->
      <ion-toolbar align-item-center>
          <ion-button (click)="nextQuestion()" color="naranja" expand="block" [disabled]="(value_extra !== 2) && (value !== 5)">
            Siguiente</ion-button>
          <!-- <ion-icon  size="large" name="arrow-dropright-circle" slot="end" (click)="nextQuestion()"></ion-icon> -->
        </ion-toolbar>
  <!-- </div> -->
</ng-template>

<!-- 7 -->
<div *ngIf="questionCounter === 7; then question7"></div>
<ng-template #question7>
  <ion-content>
    <ion-grid>
      <ion-row align-item-center>
        <ion-col>
          <div text-center>
            <h2>¿Con qué frecuencia realiza actividad física?</h2>
          </div>
        </ion-col>
      </ion-row>
      <ion-row align-item-center>
        <ion-col text-center>
          <ion-button (click)="activitylow()" [ngStyle]="{'color':value === 2? 'orange' : 'white' }">
            Menos de 4 horas/semana</ion-button>
        </ion-col>
      </ion-row>
      <ion-row align-item-center>
        <ion-col text-center>
          <ion-button (click)="activitylow_extra()" [ngStyle]="{'color':value_extra === 2? 'orange' : 'white' }">
            Más de 4 horas/semana</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>

  <!-- <div text-right *ngIf="(value_extra === 2)||(value === 2)"> -->
      <ion-toolbar align-item-center>
          <ion-button (click)="nextQuestion()" color="naranja" expand="block" [disabled]="(value_extra !== 2) && (value !== 2)">
            Siguiente</ion-button>
          <!-- <ion-icon  size="large" name="arrow-dropright-circle" slot="end" (click)="nextQuestion()"></ion-icon> -->
        </ion-toolbar>
  <!-- </div> -->
</ng-template>

<!-- 8 -->
<div *ngIf="questionCounter === 8; then question8"></div>
<ng-template #question8>
  <ion-content>
    <ion-grid>
      <ion-row align-item-center>
        <ion-col>
          <div text-center>
            <h2>¿Come verduras o frutas todos los días?</h2>
          </div>
        </ion-col>
      </ion-row>
      <ion-row align-item-center>
        <ion-col text-center>
          <ion-button (click)="vegetables_extra()" [ngStyle]="{'color':value_extra === 2? 'orange' : 'white' }">Sí</ion-button>
        </ion-col>
      </ion-row>
      <ion-row align-item-center>
        <ion-col text-center>
          <ion-button (click)="vegetables()" [ngStyle]="{'color':value === 1? 'orange' : 'white' }">
            No
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>

  <!-- <div text-right *ngIf="(value_extra === 2)||(value === 1)"> -->
      <ion-toolbar align-item-center>
          <ion-button (click)="nextQuestion()" color="naranja" expand="block" [disabled]="(value_extra !== 2) && (value !== 1)">
            Siguiente</ion-button>
          <!-- <ion-icon  size="large" name="arrow-dropright-circle" slot="end" (click)="nextQuestion()"></ion-icon> -->
        </ion-toolbar>
  <!-- </div> -->
</ng-template>

<!-- 9 -->
<div *ngIf="questionCounter === 9; then question9"></div>
<ng-template #question9>
  <ion-content>
    <ion-grid>
      <ion-row align-item-center>
        <ion-col>
          <div text-center>
            <h2>¿Se le ha diagnosticado diabetes (tipo 1 o tipo 2) a alguno de sus familiares allegados u otros parientes?</h2>
          </div>
        </ion-col>
      </ion-row>
      <ion-row align-item-center>
        <ion-col text-center>
          <ion-button (click)="familyhistory1()" [ngStyle]="{'color':value_extra === 2? 'orange' : 'white' }"> No </ion-button>
        </ion-col>
      </ion-row>
      <ion-row align-item-center>
        <ion-col text-center>
          <ion-button (click)="familyhistory2()" [ngStyle]="{'color':value === 3? 'orange' : 'white' }">
            Sí: abuelos-tíos-primos
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row align-item-center>
        <ion-col text-center>
          <ion-button (click)="familyhistory3()" [ngStyle]="{'color':value === 5? 'orange' : 'white' }">
            Sí: padres-hermanos-hijos
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>

  <!-- <div text-center *ngIf="(value_extra === 2)||(value >= 3)"> -->
      <ion-toolbar align-item-center>
          <ion-button (click)="finishtest()" color="naranja" expand="block" [disabled]="(value_extra !== 2) && (value < 3)">
            Finalizar</ion-button>
          <!-- <ion-icon  size="large" name="arrow-dropright-circle" slot="end" (click)="nextQuestion()"></ion-icon> -->
        </ion-toolbar>
  <!-- </div> -->
</ng-template>