<!-- 2 -->

  <ion-toolbar>
      <ion-icon size="large" name="close-circle" slot="end" [routerLink]="['/tabs/tab2']"></ion-icon>
  </ion-toolbar> 

<ion-content padding>
    <ion-grid>
      
      <ion-row align-item-center>
        <ion-col>        
                    <div text-center>
                      <h2>Gender:</h2>
                    </div>          
        </ion-col>
      </ion-row>
      <ion-row align-item-center>
          <ion-col text-center>
                     
                        <ion-button>Female</ion-button>  
                    
          </ion-col>          
        </ion-row>
        <ion-row align-item-center>
            <ion-col text-center>
              <ion-button>
               Male
           </ion-button>           
            </ion-col>          
          </ion-row>
    </ion-grid>    
  </ion-content>
