<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Detalle Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <img size="small" src="https://www.clara.es/medio/2019/04/02/menu-semanal-saludable5_56e25094_1280x961.jpg">
    <h2>MENU SEMANAL SALUDABLE</h2>
    <p>¿Quieres empezar a comer mejor y además planificar mejor tu dieta? Este menú semanal saludable te va a ayudar (y mucho).</p>
    <h6>Objetivo de la dieta</h6><p>Adquirir hábitos de comida saludable.</p>
    <h6>Duración</h6><p>Mensualmente.</p>
    <h6>Tipo de dieta</h6><p>Dieta Mediterránea.</p>
    <h6>A quien va dirigido</h6><p>A cualquiera que quiera empezar a comer alimentos variados y saludables sin perder demasiado tiempo en al cocina.</p>
   
    <ion-button expand="block">Ver Menú</ion-button>
    
  </ion-content>
